body{
    background-color: rgb(64, 179, 224);
}

.mapdiv{
    /* background-color: beige; */
    width: 41.5%;
    margin: auto;
}

.mapdiv path{
    stroke: rgb(238, 192, 9);
    stroke-width: 1px;
    fill: rgb(231, 55, 64);
    transition: fill 0.2s;
}
.mapdiv :hover{
    fill: cornsilk;
}